.rightAnswerCircle {
  padding-right: var(--space-1);
  padding-left: var(--space-1);
}

.rightAnswerCircle svg {
  top: calc(var(--space-2) * -1);
  right: calc(var(--space-2) * -1);
  bottom: calc(var(--space-2) * -1);
  left: calc(var(--space-2) * -1);
  width: calc(100% + var(--space-4));
  height: calc(100% + var(--space-4));
}
