@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F9FAFB;
    --foreground: #111827;
    --card: #FFFFFF;
    --card-foreground: #111827;
    --popover: #FFFFFF;
    --popover-foreground: #111827;
    --primary: #3730A3;
    --primary-foreground: #FFFFFF;
    --secondary: #F3F4F6;
    --secondary-foreground: #111827;
    --muted: #F3F4F6;
    --muted-foreground: #6B7280;
    --accent: #06B6D4;
    --accent-foreground: #FFFFFF;
    --destructive: #EF4444;
    --destructive-foreground: #FFFFFF;
    --border: #E5E7EB;
    --input: #E5E7EB;
    --ring: #3730A3;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html {
    @apply antialiased;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}
