*,
*::before,
*::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

html {
  line-height: 1.5;
  text-size-adjust: 100%;
  tab-size: 4;
}

body,
h1,
h2,
h3,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

button,
input {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
  background-image: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img,
svg {
  display: block;
  vertical-align: middle;
}

img {
  max-width: 100%;
  height: auto;
}
